.DS_Store

is2006_latex_template.aux
is2006_latex_template.bbl
is2006_latex_template.blg
is2006_latex_template.log
is2006_latex_template.out
is2006_latex_template.synctex.gz
is2006_latex_template.pdf
